<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment Added</title>
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Assignment Added</h1>
  <p>This assignment was added.</p>
  <p><label>Name: </label> {{assignments.assignments}}</p>
  <p><label>Score: </label> {{assignments.score}}</p>
  <p><label>Total: </label> {{assignments.total}}</p>
  <p><label>Completed: </label> {{assignments.completed}}</p>
  <p>
    <a href="/">See all assignments</a>
  </p>
</body>
</html>